body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;
    flex-flow: column;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;

}

::-webkit-scrollbar {
    display: none;
}

:root {
    --border: 1px solid red;
}

#green_text {
    color: #009E73;
}

.article_text_bold {
    font-weight: 600;
}


/* Smartphones ----------- */
@media only screen and (min-width : 320px) {

    .padding_wrap,
    .backToAfrica_wrap {
        height: calc(100% - 45px);
        width: calc(100% - 45px);
        display: flex;
        flex-flow: column;
        margin: auto;

    }

    .padding_wrap {
        /*display: none;*/
    }

    /*----- TOP CONTENTS -----*/

    .top_body {
        width: calc(100% - 10px);

    }

    .title {
        line-height: 35px;
        margin: 0;
    }

    .subtitle {
        line-height: 25px;
        font-weight: 300;
    }

    .spread_text {
        letter-spacing: 5px;
    }



    /*-----//  TOP CONTENTS -----*/
    /*----- BLOG CONTENTS -----*/

    .articles_text {
        width: 100%;
        margin: 15px 0;
        font-size: 15px;
        text-align: center;
    }


    .blog_wrap {
        height: 55%;
        width: 100%;
        margin: 0;
        overflow: auto;

    }


    .blog_posts {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-flow: column;
        transition: 0.4s;
    }

    .blog_post_title {
        margin: 0;
        font-weight: 500;
        font-size: 13px;
        color: #009E73;
    }

    .blog_description {
        margin: 0;
        font-size: 13px;
    }


    .article_by {
        font-size: 10px;
        font-weight: 400;
    }

    .widthClass {
        width: 100%;
    }

    .underline {
        width: 100%;
        margin: 0;
        border: 1px solid rgba(0, 0, 0, 0.459);
    }


    /*-----//  BLOG CONTENTS -----*/
    /*----- BOTTOM CONTENTS -----*/


    .bottom_body {
        display: flex;
        margin-top: 20px;

    }

    .to_archives_btn,
    .to_articles_btn {
        height: 60px;
        width: 100px;
        background: transparent;
        background: #009E73;
        margin-left: auto;
        border-radius: 7px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 200;
        font-size: 14px;
        text-align: center;
        color: #fff;
        outline: none;
        transition: 0.4s;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);

    }

    /*-----//  BOTTOM CONTENTS -----*/
    /*----- GO BACK TO AFRICA POST -----*/


    .backToAfrica_wrap {
        display: none;
    }

    .backToAfrica_top_body {
        display: flex;
        flex-flow: column;

    }

    .backToAfrica_title {
        font-size: 30px;
        margin: 0;
    }

    .backToAfrica_description {
        margin: 0;
        font-size: 15px;
        line-height: 10px;
    }

    .backToAfrica_author {
        font-size: 10px;
        margin-top: 7px;
    }

    svg {
        height: 13px;

    }

    /*----- GO BACK TO AFRICA ARTICLE -----*/

    .article_wrap {
        height: 70%;
        width: 100%;
        display: flex;
        margin-top: 10px;

    }

    .backToAfrica_article {
        width: 100%;
        height: 90%;
        margin: auto;
        padding: 5px 0;
        font-size: 13px;
        text-align: left;
        word-wrap: none;
        overflow: auto;
        border-top: 4px solid #009E73;
        border-bottom: 4px solid #009E73;

    }

    /*-----//  GO BACK TO AFRICA ARTICLE -----*/
    /*----- BACK TO AFRICA BOTTOM CONTENTS -----*/


    .backToAfrica_btm_contents {
        display: flex;
        width: 100%;

    }

    .to_articles_btn {
        background: #000;
        opacity: 0;
    }




    /*-----//  BACK TO AFRICA BOTTOM CONTENTS -----*/
    /*-----//  GO BACK TO AFRICA POST -----*/
    /*----- HOVERS & SUCH -----*/



    .to_archives_btn:active,
    .to_articles_btn:active {
        box-shadow: none;
        opacity: 0.5;
    }

    .blog_posts:active {
        opacity: 0.5;
    }


    /*-----//  HOVERS & SUCH -----*/
}