body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #DFDED9;
}

/* Smartphones ----------- */
@media only screen and (min-width : 320px) {


    /*----TOP SECTION----*/
    .top_head_section {
        width: 100%;
        height: 30%;
        display: flex;
        flex-flow: column;

    }


    .top_caption_text {
        margin: 10px 0 0px;
        width: 100%;
        height: 20px;
        text-align: center;
        font-weight: 400;
        font-size: 13px;


    }

    .main_title {
        width: 70%;
        margin: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;


    }

    .main_title_archives {
        margin: 0;
        height: 70px;
        font-size: 70px;

    }

    .main_title_blog {
        font-size: 20px;
        margin: 0 0 0 auto;
        margin-right: 15px;

    }


    /*----//  TOP SECTION----*/
    /*----MID CAROUSEL SECTION----*/

    .mid_carousel_section {
        width: 100%;
        height: 70%;
        display: flex;
        background-color: #575855;
    }

    .carousel {
        width: 100%;
        height: 55%;
        display: flex;
        margin: auto;

    }

    .sections {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: #fff;
        background-color: #575855;


    }

    .language_text {
        position: absolute;
    }


    .language_pic {
        height: 100%;
        transform: scale(1.1);
        filter: grayscale(100%) brightness(70%) invert(20%);

    }

    .tribes_pic {
        height: 100%;
        transform: scale(1.3);
        filter: grayscale(100%) brightness(70%) invert(20%);

    }

    .customs_pic {
        height: 100%;
        transform: scale(1.4);
        filter: grayscale(100%) brightness(70%) invert(20%);

    }

    .geneology_pic {
        height: 100%;
        transform: scale(1.1);
        filter: grayscale(100%) brightness(70%) invert(20%);


    }

    .science_pic {
        height: 100%;
        transform: scale(1.2);
        filter: grayscale(100%) brightness(70%) invert(20%);

    }

    .map_pic {
        height: 100%;
        transform: scale(1.1);
        filter: grayscale(100%) brightness(70%) invert(20%);

    }


    .bright_text {
        position: absolute;
        color: #fff;
        width: 100%;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;

    }

    /*----//  MID CAROUSEL SECTION----*/


}